* {
    margin: 0;
    padding: 0;
}

/* common */
.primary-color {
    color: rgb(253, 110, 10);
}

.bg-primary {
    background-color: rgb(253, 110, 10);
}

.btn-primary {
    padding: 12px 25px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: rgb(226, 94, 0);
    transition: .5s;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* Header  */
.header {
    background-color: rgb(255, 248, 243);
}

/* nav related Css */

.nav {
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav>ul {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav li {
    list-style: none;

}

.nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: rgb(71, 71, 71);
}

.nav-title {

    font-size: 45px;
    font-weight: 800;
}


/* BANNER */

.banner {
    padding: 10px 90px 0 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left center;
    background-size: contain, 100px;
    margin-left: 50px;

}

.banner-caption {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner-gretting {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
}

.banner-btn {
    display: flex;
    gap: 30px;
}

.banner>img {
    width: 600px;
}



/* Main section styles ------------------- */

.main {
    max-width: 1290px;
    margin: 0 auto;
}

/* About section */

.about {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 130px 0;
    padding: 130px;
    text-align: center;
    background-color: #FFF8F3;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    color: rgb(71, 71, 71);
}

.section-description {
    font-size: 18px;
    font-weight: 400;
    color: rgb(117, 117, 117);
}


.about-info-container {
    display: flex;
    justify-content: space-around;

}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: rgb(117, 117, 117);

}

.info-description{

font-weight: 700;
font-size: 20px;

}